.menu{

  color: #333;
  width: 450px;
  height: calc(70vh - 60px);
  margin: calc((100vh - 60px - (70vh - 60px)) / 2) auto;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  overflow: auto;

}

.form-group{
  width: 80%;
  margin: 10px auto;
}

.form-group label{
  margin-bottom: 5px;
}

.form-group button{

  margin-left: calc(100% - 110px);

}



.tops{

  width: 100%;
  height: auto;
  border-bottom: 1px solid #e1e1e1;

}

.tops button{

  width: 30%;

}

.bottoms{

  width: 100%;
  margin-top: 10px;

}

.bottoms button{
  width: 40%;
  margin: 0 30%;
}
